<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <receiver android:name=".SmallForecastWidgetProvider" android:label="@string/small_widget" android:exported="false">
            <intent-filter>
                <action android:name="fi.fmi.mobileweather.AUTO_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/small_forecast_widget_provider_info" />
        </receiver>
        <activity
            android:name="fi.fmi.mobileweather.widgets.SmallForecastWidgetConfigurationActivity"
            android:theme="@style/WidgetConfigurationTheme"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".MediumForecastWidgetProvider" android:label="@string/medium_widget" android:exported="false">
            <intent-filter>
                <action android:name="fi.fmi.mobileweather.AUTO_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/medium_forecast_widget_provider_info" />
        </receiver>
        <activity
            android:name="fi.fmi.mobileweather.widgets.MediumForecastWidgetConfigurationActivity"
            android:theme="@style/WidgetConfigurationTheme"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!--
        <receiver android:name=".LargeForecastWidgetProvider" android:label="@string/large_widget" android:exported="false">
            <intent-filter>
                <action android:name="fi.fmi.mobileweather.AUTO_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/large_forecast_widget_provider_info" />
        </receiver>
        <activity android:name=".LargeForecastWidgetConfigurationActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        -->

        <receiver android:name=".SmallWarningsWidgetProvider" android:label="@string/small_warnings_widget" android:exported="false">
            <intent-filter>
                <action android:name="fi.fmi.mobileweather.AUTO_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/small_warnings_widget_provider_info" />
        </receiver>
        <activity
            android:name=".SmallWarningsWidgetConfigurationActivity"
            android:theme="@style/WidgetConfigurationTheme"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".MediumWarningsWidgetProvider" android:label="@string/medium_warnings_widget" android:exported="false">
            <intent-filter>
                <action android:name="fi.fmi.mobileweather.AUTO_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/medium_warnings_widget_provider_info" />
        </receiver>
        <activity
            android:name=".MediumWarningsWidgetConfigurationActivity"
            android:theme="@style/WidgetConfigurationTheme"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

    </application>

</manifest>
